/* project-details.css */
#project-details-section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

#project-images img {
    max-width: 200px;
    margin: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.navbar-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-right a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
}

.navbar-right a:hover {
    text-decoration: underline;
}
